doctype html
html
    head
        title jade
        meta(charset="utf-8")
    body
        h1 node hi
        h2 转义与非转义
        - var foo = "jade"
        - var htmlData = "<script></script>;<span>abc</span>";
        p #{foo} is "nice"
        = htmlData
        p!= htmlData
        p \#{htmlData}
        br
        br
        - var obj = {course: "jade", score: 90}
        - for (var k in obj)
            p #{obj[k]}
        - each value, key in obj
            div #{key} : #{value}
        - var arr = ["node", "jade", "express"]
        each i in arr
            p= i

        mixin lesson
            p mixin mixin
        +lesson
        +lesson

        mixin study(name, course)
            p #{name}
            ul
                each item in course
                    li #{item}

        +study('tom', ['js', 'css', 'html'])